* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
  /* background-image: url(https://images.unsplash.com/photo-1594667807190-da4535cee42b?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ); */
}
#main {
  padding: 25px;
  width: 800px;
  /* background-color: rgb(60, 71, 83); */
  background-color: burlywood;
  margin: 50px auto;
  /* color: white; */
  border-radius: 10px;
}
h1 {
  font-size: xx-large;
  display: flex;
  justify-content: center;
}
.heading {
  display: flex;
  flex-direction: column;
}

.library-headings {
  font-size: 1.5rem;
  border-bottom: 3px solid;
  border-color: #2350A3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
  text-align: center;
}

.library-books {
  font-size: 1.1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr .1fr;
  row-gap: 2rem;
  padding-top: 7px;
  padding-bottom: 7px;
  grid-template-rows: row-wrap;
  border-bottom: 1px solid;
  border-color: #2350A3;
  text-align: center;
}

.addbook {
  width: 20%;
  height: 30px;
  font-size: 1.1rem;
  margin: 10px auto 40px auto;
  border-radius: 5px;
}

.del-btn-style {
  border: none;
  background-color: inherit;
  /* color: white; */
}

.readStat {
  /* color: white; */
}

.readDiv {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.container {
  z-index: 1;
  display: none;
  position: fixed;
  left: 39%;
  background-color: white;
  color: black;
  max-width: 400px;
  width: 100%;
}

#book-form {
  padding: 20px;
}

fieldset {
  border: medium none;
  min-width: 100%;
  width: 100%;
  padding: 0px;
  margin: 0 0 10px;
}

h3 {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  
}

.input-checkbox {
  width: 10%
}

#submit {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}


