* {
  box-sizing: border-box;
}
body {
  background-color: lightgrey;
}
#main {
  padding: 25px;
  width: 700px;
  background-color: white;
  margin: 0 auto;
}
h1 {
  font-size: xx-large;
}
.heading {
  display: flex;
  justify-content: center;
}

.library-headings {
  font-size: 1.5rem;
  border-bottom: 3px solid;
  border-color: #2350A3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.library-books {
  font-size: 1.1rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2rem;
  border-bottom: 1px solid;
  border-color: #2350A3;
  text-align: center;
}
